:root {
  color-scheme: dark;
}

body {
  background: #202124;
  color: #bdc1c6;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  height: 100%;
}

#app {
  height: 100%;
}