$eerie-black: #1d1e1fff;
$jet: #282b2eff;
$onyx: #35393dff;
$charcoal: #3e4954ff;
$charcoal-2: #455566ff;
$space-cadet: #1f2041ff;
$indigo-dye: #1a4268ff;
$cerulean: #00678aff;
$blue-munsell: #008da3ff;
$verdigris: #30b4b2ff;
$turquoise: #71d9b9ff;
$powder-blue: #a9bcd0ff;
$platinum: #d8dbe2ff;
$seasalt: #fafafaff;